
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 24px;
    height: auto;
    max-width: 320px;
    min-width: 320px;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  }
  .burger-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    
  }  
  .button {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: filter 0.3s; /* Добавим анимацию для фильтра */
    border-radius: 50%; /* Устанавливаем радиус скругления равным половине ширины и высоты кнопки */
     margin-right: 15px;  
  }

  .button:hover {
    filter: brightness(75%);
    opacity: 0.9; /
  }

  .button * {
    filter: invert(100%); 
   /* Используйте противоположное значение, чтобы компенсировать эффект фильтра на тексте */
  }
  
  .button--back {
    background-image: url("../svg/back.svg");
  }

  .burger-menu img{ 
    width: 97px;
    height: 51px;

  } 
  
    .button--search {
    background-image: url("../svg/search.svg");
    margin-left: auto;
  }
  
  .button--call {
    background-image: url("../svg/call.svg");
  }
  
  .button--chat {
    background-image: url("../svg/chat.svg");
  }
  
  .button--profile {
    background-image: url("../svg/profile.svg");
  }

.burger-menu__button {
  margin-left: 24px;
  border: none; /* Удаляем границы кнопок */
  background: none; /* Удаляем фон кнопок */
  cursor: pointer; /* Делаем указатель при наведении */
  transition: background-color 0.3s; /* Добавляем анимацию при наведении */
}
ul{
  margin: 0;
  padding: 0;
}
nav{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.burger-menu__list {
  position: absolute;
  left: 0;
  font-family: 'TTLakes', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  list-style-type: none;


}
.burger-menu__item {
  font-family: 'TTLakes', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative; /* Для позиционирования псевдоэлемента */
}

.burger-menu__item:hover {
  color: #7E7E82;
 
}

.burger-menu__item:hover::before {
  content: ''; /* Создаем псевдоэлемент */
  width: 4px; /* Ширина вертикальной полоски */
  height: 100%; /* Высота равна высоте родительского элемента */
  background-color: #00CED1; /* Цвет бирюзовой полоски */
  border-top-right-radius: 4px; /* Округляем левый верхний угол */
  border-bottom-right-radius: 4px; /* Округляем левый нижний угол */

}


.burger-menu__item {
  font-family: 'TTLakes', sans-serif;
  opacity: 0.8; /* Начальная прозрачность */
  transition: opacity 0.3s; /* Анимация изменения прозрачности */
}

.burger-menu__item {
  position: relative; /* Для позиционирования псевдоэлемента */

}



.burger-menu__item:hover {
  color: #7E7E82; /* Серый цвет текста при наведении */
}

.burger-menu__item:hover::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #00CED1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.burger-menu__item {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.burger-menu__button:hover {
  color: #7E7E82; /* Серый цвет текста кнопки при наведении */
}

.burger-menu--email {
  font-family: 'TTLakes', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
 color: #1B1C21;
 padding: 0;
 margin: 0;
 margin-top: 16px;
 
 
}

.burger-menu--number{
font-family: 'TTLakes', sans-serif;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.6000000238418579px;
text-align: left;
color:  #1B1C21;
font-weight: bold;
padding-top: 0px;
padding: 0;
margin: 0;
margin-top: 12px;
}
.footer__items{
  padding-top: 40px;
}
.footer__items .button {
  width: 24px;
  height: 24px;
  opacity: 0px;  
  border-radius: 10%;
  font-family: 'TTLakes', sans-serif;
font-size: 16px;
line-height: 24px;
text-align: left;
  border: none;
  outline: none; /* Убираем обводку при фокусировке */
  color: #1B1C21; /* Цвет текста кнопки */
  background-color: white; /* Цвет фона кнопки */
  transition: color 0.3s, box-shadow 0.3s; /* Плавное изменение цвета текста */
  font-weight: bold;
  box-shadow: 0 0 transparent; }

.footer__items .button:hover {
  color: rgb(139, 139, 139); /* Цвет текста при наведении */
  background-color: transparent; /* Прозрачный фон */
  box-shadow: none; /* Убираем тень при наведении */
  transition: color 0.3s; /* Плавное изменение цвета текста */
  box-shadow: 0 0 transparent;
}