
.menu {
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    padding: 20px;
    border-radius: 10px;
    width: calc(100% - 40px);
    margin: 0 auto;
    max-width: 100%;
    margin-top: 30px;
  }
  
  .menu__list {
    list-style-type: none;
    padding-right: 20px;
    margin: 0;
    display: flex;
    gap: 20px;
  }
  
  .menu::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }
  
  .menu__item {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu__link {
    text-decoration: none;
    color: #7E7E82;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease;
  }
  
  .menu__link:hover {
    border-color: rgb(0, 255, 234);
  }
  
  .menu::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
  @media screen and (max-width: 768px) {
    .menu__list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 20px;
    }
    .menu__item {
      white-space: nowrap;
      margin-right: 20px;
      flex-shrink: 0;
    }
    .main__column {
      width: 100%;
    }
  }
  