.section {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .slider {
    gap: 0;
    opacity: 1; /* Исправлено с 0px на 1 для видимости */
    padding: 16px;
  }
  
  .slider-title {
    font-family: 'TTLakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    color: #7E7E82;
    font-weight: 300;
  }
  
  .swiper {
    position: relative;
    margin-bottom: 20px;
  }
  
  .swiper-wrapper {
    display: flex;
    transition: transform 0.5s;
    padding-top: 16px;
  }
  
  .swiper-slide {
    max-width: 220px;
    min-width: 220px;
    height: 72px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Исправлено с left на center */
    padding: 10px;
    border-radius: 5px;
  }
  
  .section.img {
    min-width: 32px;
    max-width: 100px;
    max-height: 70px;
    padding-left: 5px;
  }
  
  .button-go {
    width: 40px;
    height: 40px;
    background-image: url("../svg/go.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: filter 0.3s;
    border-radius: 50%;
  }
  
  .button-go:focus {
    outline: none;
  }
  
  .button-go:active {
    transform: scale(0.9);
  }
  
  .expend {
    transition: all 0.2s ease;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .expend__button-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-image: url('../svg/expand.svg');
    background-size: cover;
    border: none;
  }
  
  .expend:focus {
    outline-offset: 1px;
    border-radius: 1px;
  }
  
  .expend:hover {
    opacity: 0.5;
  }
  
  .expend:active {
    opacity: 1;
    color: #000;
    outline: none;
    transform: scale(1.1);
  }
  
  .swiper-pagination {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* чтобы пагинация была поверх других элементов */
    background-color: rgba(255, 255, 255, 0.8); /* прозрачный фон */
    padding: 5px 10px; /* отступы внутри пагинации */
    border-radius: 10px; /* скругление углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* тень */
    justify-content: center; /* Центрирование пагинации */
    align-items: center; /* Центрирование пагинации */
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .swiper-pagination-bullet:hover {
    background-color: #888;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #888;
  }
  
  .rotate180 {
    transform: rotate(180deg);
  }

  @media screen and (max-width: 767px) {
    .swiper-pagination {
      display: flex; /* Включить пагинацию на маленьких экранах */
    }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-pagination {
      display: none; /* Скрыть пагинацию на больших экранах */
    }
  }
  @media screen and (max-width: 767px) {
    .section {
      display: flex;
      justify-content: space-between;
      margin: 0;
      width: 320px;
      max-height: 234px;
      gap: 0;
      opacity: 1; /* Исправлено с 0px на 1 для видимости */
      box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
    }
  
    .expend {
      display: none;
    }
  
    .slider-title {
      word-wrap: break-word;
    }
    
  
  }
  
  @media screen and (min-width: 768px) and (max-width: 1120px) {

    .swiper-slide {
      width: calc(50% - 20px);
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .swiper-slide:nth-child(n + 7) {
      display: none;
    }
    .swiper-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  
  @media screen and (min-width: 1121px) {

    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
    .swiper-slide {
      width: 100%;
    }
    .swiper-slide:nth-child(n + 9) {
      display: none;
    }
  }
  