@import "slider.css";

  .swiper-slide {
    width: 300px;
    height: 160px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px;
    align-items: top;
    border-radius: 5px;
  }
  
  
  .button-go {
    width: 40px;
    height: 40px;
    background-image: url("../svg/go.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: filter 0.3s;
    border-radius: 50%;
    align-self: flex-end;
    padding-right: 35px;
  }
  
  
  .button-go:focus {
    outline: none;
  }
  
  .button-go:active {
    transform: scale(0.9);
  }
  .slider__text{
    font-family: TTLakes-Bold, sans-serif;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.20000000298023224px;
text-align: left;

  }
  .expend {
    transition: all 0.2s ease;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .expend__button-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-image: url('../svg/expand.svg');
    background-size: cover;
    border: none;
  }
  .expend:focus {
    outline-offset: 1px;
    border-radius: 1px;
    
  }
  
  .expend:hover {
    opacity: 0.5;
  }
  
  .expend:active {
    opacity: 1;
    color: #000;
    outline: none;
    transform: scale(1.1);
  
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .swiper-pagination-bullet:hover {
    background-color: #888;
  }
  .swiper-pagination-bullet-active {
    background-color: #888; 
  }
  .rotate180 {
    transform: rotate(180deg);
  }
  
  @media screen and (max-width: 767px) {
    .section {
      display: flex;
      justify-content: space-between;
      margin: 0;
      width: 320px;
      max-height: 234px;
      gap: 0px;
      opacity: 0px;
      box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
    }
    .expend {
      display: none;
    }
    .slider-title {
      word-wrap: break-word;
    }
  }
  
  @media screen and (min-width: 767px) and (max-width: 1120px) {
   .swiper-pagination {
      display: none;
    }   
    .swiper-slide {
      width: calc(50% - 20px);
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .swiper-slide:nth-child(n + 7) {
      display: none;
    }
    .swiper-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  
  @media screen and (min-width: 1120px) {
    .swiper-pagination {
      display: none;
    }
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
    .swiper-slide {
      width: 100%;
    }
    .swiper-slide:nth-child(n + 9) {
      display: none;
    }
  }
  