:root {
    --text-color-basic: #1B1C21;
    --text-color-secondery: #7E7E82;
    --text-color-therty: #B5B6BC;
    --line-grey: #EAEAEA;
    --line-blue: #41F6D7;
    --pink: #FF3E79;
    --border-color: #EAEAEA;

  }
  